{% extends 'home.html' %}
{% block body %}    
  <body class="hold-transition layout-top-nav">
  <div class="wrapper">
  
      {% include 'header.html' %}
  
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0"> Bienvenido <small>{{ request.user.username }}</small></h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item"><a href="{{ list_url }}"> {{ entity }} </a></li>
                </ol>
  
              </div>
            </div>
          </div>
          <div class="content">
            <div class="container">
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </div> 
          
  </div>
      <!-- block javascript -->
      {% block javascript %}
        
      {% endblock %}
        
      {% include 'footer.html' %}
  </body>
    
{%endblock%}