{% extends 'body.html' %}
{% load widget_tweaks %}

{% block content %}
<form method="POST" action=".">

    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-plus"></i>
                {{ title }}
            </h3>
        </div>
        <div class="card-body">

        {% csrf_token %}

        
        {% if form.errors  %}
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h5><i class="icon fas fa-ban"></i> Ha ocurrido un error al guardar el registro</h5>
            
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li> {{ error }} </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
            
        
        {% for field in form.visible_fields  %}

        <div class="mb-3 mt-3">
            <label for="email" class="form-label">{{ field.label }}</label>
            {{ field|add_class:'form-control'| remove_attr:'autocomplete' }}

        </div>
            
        {% endfor %}
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-flat">
                <i class="fas fa-save"></i> Guardar Registro
            </button>
        </div>
    </div> 

</form>


{% endblock  %}