{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Oransa CRM - Index</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'lib/iportfolio/img/favicon.png' %}" rel="icon">
  <link href="{% static 'lib/iportfolio/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'lib/iportfolio/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/iportfolio/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/iportfolio/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/iportfolio/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'lib/iportfolio/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/iportfolio/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'lib/iportfolio/css/style.css' %}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{% static 'lib/iportfolio/img/profile-img.jpg' %}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">{{ request.user.username }}</a></h1>
      </div>

      <nav class="nav-menu">
        <ul>
          <li class="active"><a href="index.html"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="{% url 'list_product' %}"><i class='bx bxs-package'></i> <span>  Productos</span></a></li>
          <li><a href="{% url 'list_client' %}"><i class='bx bxs-user-badge'></i> Clientes</a></li>
          <li><a href="#contact"><i class='bx bx-cart'></i> Ventas</a></li>
          <li> 
            {% if request.user.is_authenticated %}
              <a href=" {% url 'category_list' %} ">
                <i class='bx bx-user'></i> Bienvenido {{ request.user.username }}
              </a>
            
            {% else %}
              <a href=" {% url 'login' %} ">
                <i class='bx bx-door-open'></i> Login
              </a>
            {% endif %}    
          </li>
          <li><a href="{% url 'registro' %}"><i class='bx bxs-user-plus'></i> Registro</a></li>

        </ul>
      </nav><!-- .nav-menu -->
      <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Oransa CRM</h1>
      <p><span class="typed" data-typed-items="TU MEJOR ESTRATEGIA DE NEGOCIO"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>Oransa CRM nos permite organizar y gestionar todos los parámetros relacionados con nuestros clientes 
            reuniendo información de cada proceso de venta individual, desde la captación del cliente
            hasta el análisis de satisfacción, Por eso Crm es la mejor opcion a la hora de gestionar Tu Negocio</p>
        </div>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span> Samir Naranjo </span></strong>
      </div>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'lib/iportfolio/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/iportfolio/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'lib/iportfolio/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'lib/iportfolio/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'lib/iportfolio/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'lib/iportfolio/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'lib/iportfolio/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'lib/iportfolio/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'lib/iportfolio/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'lib/iportfolio/vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'lib/iportfolio/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'lib/iportfolio/js/main.js' %}"></script>

</body>

</html>