{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{% static 'lib/bootstrap-4.4.1-dist/css/bootstrap.min.css' %}" rel="stylesheet">
  <script src="{% static 'lib/bootstrap-4.4.1-dist/js/jquery-3.4.1.slim.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap-4.4.1-dist/js/popper.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap-4.4.1-dist/js/bootstrap.min.js' %}"></script>
</head>
<body>
  
<div class="container-fluid">
  <h1>My First Bootstrap Page</h1>
  <p>This part is inside a .container-fluid class.</p>
  <p>The .container-fluid class provides a full width container, spanning the entire width of the viewport.</p>     
</div>

</body>
</html>